/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 1050px;
	margin: auto;
	/*border: 1px solid red;*/
}

header {
	display: flex;
	align-content: start;
}

header nav {
	display: inline-block;
	margin: auto;
	
}

header nav a {
  margin: 30px;
  padding: 5px;
  color: rgb(199, 199, 199);
  text-decoration: none;
}

header nav a:hover {
	  background: rgb(0, 102, 255);
	  border-radius: 30px;
	  color: rgb(255, 255, 255)
}

header nav a:active {
    color: black;
    background: #ffffff;
}

header .logo {
	margin: 25px;
}

 hr {
	border-bottom: 1px solid black;
	width: 1000px;
	margin-top: 80px;
    }

section .cta {
	display: inline-block;
}

section .cta-text h1 {
	display: flex;
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
}

.cta button {
	display: flex;
    margin-left: 200px;
    background: white;
    border: 1px solid;
    /*padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
	padding-top: 5px;*/
	padding: 5px 50px 5px 50px;
    box-sizing: border-box;
    font-family: inherit;
	font-size: 20px;
	border-radius: 3px;
}

.cta button:hover {
	background: rgb(0, 0, 0);
	color: white;
	border-radius: 5px;
}

.techArt{
	display: inline-block;
    margin-left: 604px;
    margin-top: -375px;
    width: 40%;
}

.top-content div {
    /*margin-bottom: 15px;
    margin-right: 600px;
	border: 1px solid rgb(4, 0, 255);
	box-sizing: border-box;*/
	display: table-cell;
    padding: 24px;
    font-size: 18px;
}

.middle-img {
	display: inline-block;
    width: 1010px;
    margin: 20px;
    box-sizing: border-box;
}

.bottom-content div {
    display: table-cell;
    padding: 24px;
    font-size: 19px;
}

.contact h4 {
	margin: 10px 25px 10px 25px;
}
.contact address {
	margin: 25px;
}
footer {
	margin-left: 450px;
	margin-bottom: 125px;
 }